caption {
	background-color: #333333;
	color: #E4E4E4;
	font-weight: bold;
	font-size: large;
	font-family: sans-serif;
	padding: 10px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

thead {
	background-color: #FFFFF;
	color: #333333;
	font-weight: bold;
	font-size: small;
}

thead td {
	border-bottom: 1px;
	border-right: 1px;
	border-top: 3px;
	border-left: 3px;
	border-style: solid;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border-color: #999999;
}

tbody {
	color: #333333;
	font-weight: normal;
}

tbody tr:nth-child(odd) {
	background-color: #E0E0E0;
}
tbody tr:nth-child(even) {
	background-color: #F3F3F3;
}

td {
	padding: 6px;
	font-family: sans-serif;
}


table {
	border-spacing: 4px;
}