caption {
	background-color: #333333;
	color: #E4E4E4;
	font-weight: bold;
	font-size: large;
	font-family: sans-serif;
	padding: 10px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

thead {
	background-color: #FFFFF;
	color: #333333;
	font-weight: bold;
	font-size: small;
}

thead tr td {
	border-bottom: 1px;
	border-right: 1px;
	border-top: 3px;
	border-left: 3px;
	border-style: solid;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border-color: #999999;
}

tbody {
	color: #333333;
	font-weight: normal;
}

tbody tr:nth-child(odd) {
	background-color: #E0E0E0;
}

tbody tr:nth-child(even) {
	background-color: #F3F3F3;
}

tfoot tr td {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 6px;
	padding-right: 6px;
}

button {
	border: 3px;
	border-color: #333333;
	color: #333333;
	background: #EEFFEE;
	font-weight: bold;
	font-size: large;
	border-style: solid;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	width: 100%;
	border-radius: 20px;
	vertical-align: middle;
	padding: 0px;
}

input {
	border: 2px;
	border-color: #333333;
	color: #333333;
	border-style: solid;
	margin:0px;
	vertical-align: middle;
	font-weight: normal;
	background: #FAFAFA;
	padding: 2px;
}

td {
	padding: 6px;
	font-family: sans-serif;
}

table {
	border-spacing: 4px;
}