fieldset {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #FAFAFA;
	border-color: #333333;
	border-width: 2px;
	border-style: dashed;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
legend {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #F3F3F3;
	border-color: #333333;
	border-width: 2px;
	border-style: solid;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
input {
	border-color: #333333;
	border-width: 1px;
	border-style: solid;
}
button {
	background-color: #F0FFF0;
	border-color: #333333;
	border-width: 2px;
	border-style: solid;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-weight: bold;
}